<div class='cal-container card-drop-shadow' [style.xs]='{"height": xsHeight}' fxLayout='column' fxLayoutAlign='start center'>
  <div *ngIf='view == "agenda"' class='top-bar bar-drop-shadow' fxLayout fxLayoutAlign='start center'>
    <button mat-icon-button (click)='calendarService.openDialog()' type='button' class='add-button'>
      <i fa [name]="'calendar-plus-o'" [size]=2 [fw]=true></i>
    </button>
  </div>
  
  <div class='viewContainer' *ngIf='!(calendarService.loading | async);else loadingTemplate'>
    <agenda-view *ngIf='view == "agenda"'></agenda-view>
    <week-view *ngIf='view == "week"'></week-view>
  </div>

  <ng-template #loadingTemplate>
    <div fxLayoutAlign='center center' class='viewContainer'>
      <sk-folding-cube></sk-folding-cube>      
    </div>
  </ng-template>
</div>
