<div class='calendarContainer'>
  <md-card>
    <md-toolbar class='md-tall' color='primary'>
    </md-toolbar>
    <div id='eventContainer' infinite-scroll [infiniteScrollDistance]='2' [infiniteScrollThrottle]='500' [infiniteScrollDisabled]='isScrollLoading'
      [scrollWindow]='false' (scrolled)='onScrollDown()'>
      <md-list>
        <div *ngFor="let eventArray of (eventStream | event:'agenda' | async)">
          <md-list-item id='dateRow'>
            <span *ngIf="todaysDate==eventArray[0].startDate;else blankTemplate" fxFlex='15%' fxLayoutAlign='center center'>Today</span>
            <ng-template #blankTemplate>
              <div fxFlex='15%'></div>
            </ng-template>
            <span fxFlex='5%'></span>
            <h4 fxFlex fxLayoutAlign='start center' style='font-size:20px;color:#424242;font-weight:normal;'>{{eventArray[0].startDate | date:'EEEE, MMMM d'}}</h4>
            <button md-icon-button (click)='openDialog("Add",eventArray[0])'><md-icon style='color:#4CAF50;'>add_circle</md-icon></button>
          </md-list-item>
          <div *ngFor="let event of eventArray">
            <md-list-item id='eventRow' md-line [style.background-color]='event.calendarBackgroundColor' style='border-radius: 10px;'>
              <span fxFlex='15%' fxLayoutAlign='center center' style='color:#f5f5f5;'>{{event.allDayEvent ? 'All Day' : event.startTime }}</span>
              <span fxFlex='5%'></span>
              <span fxFlex fxLayoutAlign='start center' style='color:#f5f5f5;'>{{event.summary | truncate : 60}}</span>
              <button md-icon-button (click)='openDialog("Edit",event)'><md-icon style='color:#f5f5f5;'>mode_edit</md-icon></button>
              <button md-icon-button (click)='openDialog("Delete",event)'><md-icon style='color:#f5f5f5;'>delete</md-icon></button>
            </md-list-item>
          </div>
        </div>
      </md-list>
    </div>
  </md-card>
</div>
