$light-text: rgba(245, 245, 245, 1);
$dark-text: rgba(66, 66, 66, 1);
$light-background:rgba(245, 245, 245, 0.9);
$dark-background:rgba(117, 117, 117, 0.6);
$transparent-background: rgba(245, 245, 245, 0);

.calendarContainer {
  height: inherit;
  width: inherit;
  md-card {
    padding: 0px;
    border-radius: 5px;
    background-color: $dark-background;
    md-toolbar {
      padding: 0px;
      border-radius: 5px 5px 0px 0px;
      background-color: $light-background;
      span{
          color: $dark-text;
          font-weight: 300;
          font-size: 30px;
      }
    }
    #eventContainer {
      height: 450px;
      overflow: scroll;
      md-list {
        padding: 0px;
        background-color: $transparent-background;
        #dateRow {
            font-weight: bold;
            color: $light-text;
            h3{
                font-size:20px;
                font-weight: 300;
            }
            h4{
                font-size:24px;
                font-weight: 300;
            }
        }
        #eventRow {
            color:$light-text;
            font-size: 16px;
            font-weight: 400;
        }
      }
    }
  }
}
