<div class='mail-container card-drop-shadow' [style.xs]='{"height.px" : heightInput}' fxLayout='column' fxLayoutAlign='start center'>
  <div class='top-bar bar-drop-shadow' fxLayout fxLayoutAlign='start center'>
    <div>
      <button class='create-mail-btn' mat-icon-button (click)='mailService.openSendDialog()'><i fa [name]="'share-square-o'" [size]=2 [fw]=true></i></button>
    </div>
    <span fxFlex></span>
    <form class='inbox-filter' fxFlexAlign='end'>
      <mat-select placeholder='Filter' (change)='updateFilter($event.value)' name='filter'>
        <mat-option selected class='inbox-filter-item' [value]='all'>All</mat-option>
        <mat-option class='inbox-filter-item' [value]='inbox'>Inbox</mat-option>
        <mat-option class='inbox-filter-item' [value]='unread'>Unread</mat-option>
        <mat-option class='inbox-filter-item' [value]='personal'>Personal</mat-option>
        <mat-option class='inbox-filter-item' [value]='social'>Social</mat-option>
        <mat-option class='inbox-filter-item' [value]='promotions'>Promotions</mat-option>
      </mat-select>
    </form>
  </div>
  <div class='viewContainer' *ngIf='!(mailService.loading | async);else loadingTemplate'
  infinite-scroll
  [infiniteScrollDistance]="4"
  [infiniteScrollThrottle]="1500"
  [scrollWindow]='false'
  (scrolled)="onScroll()">
    <app-mail-simple-inbox-view [threads]='threads | async'></app-mail-simple-inbox-view>
  </div>

  <ng-template #loadingTemplate>
    <div fxLayoutAlign='center center' class='viewContainer'>
      <sk-folding-cube></sk-folding-cube>      
    </div>
  </ng-template>
</div>
