<div class='mail-container card-drop-shadow' [style.xs]='{"height.px" : heightInput}' fxLayout='column' fxLayoutAlign='start center'>
  <div class='top-bar bar-drop-shadow' fxLayout fxLayoutAlign='start center'>
    <div>
      <button class='create-mail-btn' md-icon-button (click)='mailService.openSendDialog()'><i fa [name]="'share-square-o'" [size]=2 [fw]=true></i></button>
    </div>
    <span fxFlex></span>
    <form class='inbox-filter' fxFlexAlign='end'>
      <md-select placeholder='Filter' [(ngModel)]='currentFilter' name='filter'>
        <md-option class='inbox-filter-item' [value]='filters.all'>All</md-option>
        <md-option class='inbox-filter-item' [value]='filters.inbox'>Inbox</md-option>
        <md-option class='inbox-filter-item' [value]='filters.unread'>Unread</md-option>
        <md-option class='inbox-filter-item' [value]='filters.personal'>Personal</md-option>
        <md-option class='inbox-filter-item' [value]='filters.social'>Social</md-option>
        <md-option class='inbox-filter-item' [value]='filters.promotions'>Promotions</md-option>
      </md-select>
    </form>
  </div>
  <div class='viewContainer' *ngIf='!(mailService.loading | async);else loadingTemplate'>
    <app-mail-simple-inbox-view [filter]='currentFilter'></app-mail-simple-inbox-view>
  </div>

  <ng-template #loadingTemplate>
    <div fxLayoutAlign='center center' class='viewContainer'>
      <md-spinner></md-spinner>
    </div>
  </ng-template>
</div>
