h1{
    padding: 20px;
}

.navigationButtons{
    // flex-flow: row;
    // justify-content: flex-start;
}

.timeContainer{
    text-align: center;
    font-size: 42px;
}

.userInfo{
    // justify-content: flex-end;
}