<md-toolbar color='primary'>
  <div fxFlex fxLayoutAlign='start center' class='navigationButtons'>
    <button md-button [routerLink]="['/']">
      <md-icon>home</md-icon>
    </button>
    <button md-button [routerLink]="['/']">
      <md-icon>perm_contact_cal</md-icon>
    </button>
    <button md-button [routerLink]="['/']">
      <md-icon>email</md-icon>
    </button>
    <button md-button [routerLink]="['/']">
      <md-icon>settings</md-icon>
    </button>
  </div>
  <div fxFlex fxLayoutAlign='center stretch' class='timeContainer'>
    <app-time></app-time>
  </div>
  <div fxFlex fxLayoutAlign='end center' class='userInfo' fxLayout='row'>
    <h1>{{authService.displayNameStream | async}}</h1>
    <button md-icon-button [mdMenuTriggerFor]='signOutMenu'>
      <md-icon>account_circle</md-icon>
    </button>
    <md-menu [overlapTrigger]='false' #signOutMenu='mdMenu'>
      <button md-menu-item *ngIf="authService.isSignedInStream | async" (click)='authService.signOut()'>
        Sign Out
      </button>
    </md-menu>
  </div>

</md-toolbar>