<div class='dialogContainer'>
  <!-- <h1 md-dialog-title fxFlex fxLayoutAlign='center center'>Event</h1> -->
  <md-dialog-content>
    <form fxFlex fxLayout='column' #addEventForm='ngForm' (ngSubmit)='closeDialog()'>

      <md-input-container fxFlex>
        <input mdInput (keyup.enter)='closeDialog()' [(ngModel)]='newEvent.summary' type='text' placeholder='Summary' name='summary'>
      </md-input-container>

      <md-select placeholder="Calendar" [(ngModel)]='newEvent.calendarId' name='calendarId' required>
        <md-option fxFlex fxLayout fxLayoutAlign='start center' *ngFor="let calendar of calendars | async" [value]="calendar.id">
          <i fa [name]="'calendar-o'" [size]=1 [fw]=true [style.color]='calendar.backgroundColor'></i>
          <span>{{ calendar.summary }}</span>
        </md-option>
      </md-select>

      <md-checkbox fxFlexAlign='start' mdInput [(ngModel)]='newEvent.allDayEvent' name='allDayEvent' style='padding: 20px 0px'>All Day Event</md-checkbox>

      <div fxLayout='column' fxLayoutAlign='start center'>
        <div fxLayout='row' fxLayout.xs='column' fxLayoutAlign='space-between center'>
          <div>
              <md2-datepicker name='startTime' placeholder='Start Time' [(ngModel)]='newEvent.startDate' [disabled]='newEvent.allDayEvent'
              [openOnFocus]='false' type='time' format='HH:mm a' (change)='startTimeChange($event.value)' [touchUi]='true'></md2-datepicker>
          </div>
          <div fxFlex='5%'></div>
          <div>
              <md2-datepicker name='startDate' placeholder='Start Date' [(ngModel)]='newEvent.startDate'
              [openOnFocus]='true' type='date' format='M/d/y' (change)='startDateChange($event.value)' [touchUi]='true'></md2-datepicker>
          </div>
        </div>

      </div>

      <div fxLayout='column' fxLayoutAlign='start center'>
        <div fxLayout='row' fxLayout.xs='column' fxLayoutAlign='space-between center'>
          
          <div>
              <md2-datepicker name='endTime' placeholder='End Time' [(ngModel)]='newEvent.endDate' [disabled]='newEvent.allDayEvent'
              [openOnFocus]='false' type='time' format='HH:mm a' (change)='endTimeChange($event.value)' [touchUi]='true'></md2-datepicker>
          </div>
          <div fxFlex='5%'></div>
          <div>
              <md2-datepicker name='endDate' placeholder='End Date' [(ngModel)]='newEvent.endDate'
              [openOnFocus]='true' type='date' format='M/d/y' (change)='endDateChange($event.value)' [touchUi]='true'></md2-datepicker>
          </div>
        </div>
      </div>


    </form>
  </md-dialog-content>
  <md-dialog-actions fxFlex fxLayout fxLayoutAlign='space-around center'>
    <button *ngIf='mode == ADD' md-raised-button (click)='closeDialog(CANCEL)'>Cancel</button>
    <button *ngIf='mode == ADD' color='primary' md-raised-button (click)='addEventForm.ngSubmit.emit()' [disabled]='!addEventForm.form.valid'
      type='submit'>Add</button>
    <button *ngIf='mode == EDIT' color='warn' md-raised-button (click)='closeDialog(DELETE)'>Remove</button>
    <button *ngIf='mode == EDIT' color='primary' md-raised-button (click)='addEventForm.ngSubmit.emit()' [disabled]='!addEventForm.form.valid'
      type='submit'>Submit</button>
  </md-dialog-actions>
</div>
