<h1 mat-dialog-title>Create Email</h1>

<mat-dialog-content>
  <form fxFlex fxLayout='column' #sendMessageForm='ngForm' (ngSubmit)='closeDialog(SEND)'>
    <mat-input-container>
      <input matInput type='email' placeholder='Recipient' name='recipient'[(ngModel)]='messageForm.recipient' [value]='messageForm.recipient' required>
    </mat-input-container>
    <mat-input-container>
      <input matInput type='text' placeholder='Subject' name='subject' [(ngModel)]='messageForm.subject' [value]='messageForm.subject' required>
    </mat-input-container>
    <mat-input-container>
      <textarea matInput matTextareaAutosize placeholder='Message' [(ngModel)]='messageForm.message' name='message'></textarea>
    </mat-input-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout='row' fxLayoutAlign='end end'>
  <button mat-raised-button (click)='closeDialog(CANCEL)'>Cancel</button>
  <button mat-raised-button color='primary' type='submit' (click)='sendMessageForm.ngSubmit.emit()'>Send</button>
</mat-dialog-actions>
