<div>
  <md-card style='padding: 0px;border-radius: 5px;'>
    <md-toolbar  color='accent' style='border-radius: 5px;'>
      <span md-subheading>Calendar</span>
    </md-toolbar>
    <md-card-content>
      <md-list style='background-color:#f5f5f5;'>
        <div *ngFor="let eventArray of (eventStream | event:'agenda' | async)">
          <h3 md-subheader style='font-size:18px'>{{eventArray[0].startDate | date:'EEE MMM d'}}</h3>
          <div *ngFor="let event of eventArray">
            <md-list-item md-line [style.background-color]='event.calendarBackgroundColor' style='border-radius: 5px;'>
              <span fxFlex='10%' fxLayoutAlign='center center' style='color:#f5f5f5;'>{{event.allDayEvent ? 'All Day' : event.startTime }}</span>
              <span fxFlex='15%'></span>
              <span fxFlex fxLayoutAlign='start center' style='color:#f5f5f5;'>{{event.summary | truncate : 30}}</span>
            </md-list-item>
            <md-divider></md-divider>
          </div>
        </div>
      </md-list>
    </md-card-content>
  </md-card>
</div>
