<!-- <div class='container'>
  <md-card>
    <md-grid-list cols='7' rowHeight='200px'>
      <md-grid-tile *ngFor='let eventList of eventMap["allDay"]; let idx = index' colspan='1' rowspan='1'>
        <md-chip-list class='mat-chip-list-stacked'>
          <div>
            <md-chip *ngFor='let event of eventList' color='accent'>
              {{event && event.summary}}
            </md-chip>
          </div>
        </md-chip-list>
      </md-grid-tile>
    </md-grid-list>
    
    <md-grid-list cols='7' rowHeight='100px'>
      <md-grid-tile colspan='1' rowspan='1'><div></div></md-grid-tile>
      <md-grid-tile colspan='1' rowspan='1'><div></div></md-grid-tile>
      <md-grid-tile colspan='1' rowspan='1'><div></div></md-grid-tile>
      <md-grid-tile colspan='1' rowspan='1'><div></div></md-grid-tile>
      <md-grid-tile colspan='1' rowspan='1'><div></div></md-grid-tile>
      <md-grid-tile colspan='1' rowspan='1'><div></div></md-grid-tile>
      <md-grid-tile colspan='1' rowspan='1'><div></div></md-grid-tile>
    </md-grid-list>

    <md-grid-list cols='7' rowHeight='100px'>
      
    </md-grid-list>
  </md-card>
</div> -->

<div class='container'>
  <md-card>
    <md-grid-list cols='3' rowHeight='100px'>
      <md-grid-tile colspan='1' rowspan='1'>
        Date
      </md-grid-tile>
      <md-grid-tile colspan='1' rowspan='1'>
        Time
      </md-grid-tile>
      <md-grid-tile colspan='1' rowspan='1'>
        Summary
      </md-grid-tile>
    </md-grid-list>
    <hr>
    <md-grid-list cols='3' rowHeight='100px'>
      <div  *ngFor="let event of (googleCalendarService.allEventStream | async)">
        <md-grid-tile colspan='1' rowspan='1'>
          {{event.startDate | date:'MMMM d'}}
        </md-grid-tile>
        <md-grid-tile colspan='1' rowspan='1'>
          {{event.allDayEvent ? 'All Day' : event.startTime }}
        </md-grid-tile>
        <md-grid-tile colspan='1' rowspan='1'>
          {{event.summary}}
        </md-grid-tile>
      </div>
    </md-grid-list>
  </md-card>
</div>
