@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$light-text: rgba(245, 245, 245, 1);
$dark-text: rgba(66, 66, 66, 1);
$light-background:rgba(245, 245, 245, 0.6);
$dark-background:rgba(117, 117, 117, 0.6);
$transparent-background: rgba(245, 245, 245, 0);
body {
    margin: 0;
    font-family: 'Comfortaa', cursive !important;
    // font-family: 'Comfortaa' !important;
    // font-family: 'Roboto';
    background-image: url("assets/images/Leaves.jpg")
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}