<div fxLayout id='agendaContainer' [style.xs]='{"max-height.px" : 300}'>
  <md-list fxFlex infinite-scroll [infiniteScrollDistance]='2' [infiniteScrollThrottle]='500' [infiniteScrollDisabled]='isScrollLoading'
    [scrollWindow]='false' (scrolled)='onScrollDown()'>
    <div *ngFor="let eventArray of (events | async)">
      <md-list-item id='dateRow'>
        <span fxFlex='5%' fxHide.xs></span>
        <h3 *ngIf="todaysDate==eventArray[0]?.startDate;else blankTemplate" fxFlex='15%' fxLayoutAlign='start center' fxHide.xs>Today</h3>
        <ng-template #blankTemplate>
          <div fxFlex='15%' fxHide.xs></div>
        </ng-template>
        <span fxFlex='5%' fxHide.xs></span>
        <h4 fxFlex fxLayoutAlign='start center' fxHide.xs>{{eventArray[0]?.startDate | date:'EEEE, MMMM d'}}</h4>
        <h4 fxFlex fxLayoutAlign='start center' fxHide.gt-xs>{{eventArray[0]?.startDate | date:'EEE, MMM d'}}</h4>
        <button md-icon-button (click)='openDialog("Add",eventArray[0])'><md-icon style='color: #f5f5f5'>add_circle</md-icon></button>
      </md-list-item>
      <div *ngFor="let event of eventArray">
        <md-list-item id='eventRow' md-line [style.background-color]='event.backgroundColor' style='border-radius: 10px;'>
          <span fxFlex='5%' fxHide.xs></span>
          <span id='eventTime' fxFlex='15%' style='color:#f5f5f5;' [style.xs]='{"font-size.px" : 12}'>{{event.allDayEvent ? 'All Day' : (event.startTime | time) + '\n' + (event.endTime | time)}}</span>
          <span fxFlex='5%'></span>
          <span fxFlex fxLayoutAlign='start center' style='color:#f5f5f5;' [style.xs]='{"font-size.px" : 12}'>{{event.summary | truncate : 60}}</span>
          <button md-icon-button (click)='openDialog("Edit",event)'><md-icon>mode_edit</md-icon></button>
          <button md-icon-button (click)='openDialog("Delete",event)'><md-icon>delete</md-icon></button>
        </md-list-item>
      </div>
    </div>
  </md-list>
</div>
