$light-text: rgba(245, 245, 245, 1);
$dark-text: rgba(66, 66, 66, 1);
$light-background:rgba(245, 245, 245, 0.9);
$dark-background:rgba(117, 117, 117, 0.6);
$transparent-background: rgba(245, 245, 245, 0);

div{
    color:$dark-text;
    font-family: 'Comfortaa', cursive !important;
    font-size: 42px;
    font-weight: 400;
    height:40px;
}