<!-- <div *ngIf="(authService.isSignedInStream | async);else signInTemplate">
  <app-navbar></app-navbar>
  <app-weather></app-weather>
  <div class='container' fxLayout='row' fxLayoutAlign='center start'>
    <app-calendar fxFlex='50%' ></app-calendar>
    <app-mail fxFlex='50%' ></app-mail>
  </div>
</div> -->

<div class='navbarContainer' *ngIf="(authService.isSignedInStream | async)">
  <app-navbar></app-navbar>
</div>
<div class='contentContainer' *ngIf="(authService.isSignedInStream | async);else signInTemplate">
  <div class='weatherContainer'>
    <app-weather></app-weather>
  </div>
  <div fxFlex fxLayout='row' fxLayoutAlign='space-around start' >
    <div fxFlex class='calendarContainer'>
      <app-calendar></app-calendar>
    </div>
    <div fxFlex class='mailContainer'>
      <app-mail></app-mail>
    </div>
  </div>
</div>

<ng-template #signInTemplate>
  <div fxLayoutAlign='center center' *ngIf='!(authService.isLoadingSubject | async);else loadingTemplate'>
    <md-card id='signIn' fxLayout='column' fxLayoutAlign='none center'>
      <md-card-title>
        <span fxShow='false' fxShow.gt-xs>Please sign in to use the app</span>
        <span fxShow='false' fxShow.xs>You must be signed in</span>
      </md-card-title>
      <button id='google-button' md-button (click)='authService.signInWithGoogle();'></button>
    </md-card>
  </div>
  <ng-template #loadingTemplate>
    <div fxLayoutAlign='center center'>
      <md-progress-bar color="primary" mode="indeterminate">
      </md-progress-bar>
    </div>
  </ng-template>
</ng-template>
