<div class='container'
     *ngIf="(authService.isSignedIn | async);else signInTemplate"
     fxLayout='column'
     fxLayoutAlign='start'>

  <div class='weatherContainer'>
    <app-weather></app-weather>
  </div>

  <div class='contentContainer'
       fxLayout.xs='column'
       fxLayoutAlign.xs='start'
       fxLayout.gt-xs='row'
       fxLayoutAlign.gt-xs='center'
       fxFlex='1 1 auto'
       ngStyle.gt-xs='height:100%'>

    <div class='calendarContainer'
         fxFlex='50%'>
      <app-calendar [view]='"agenda"'></app-calendar>
    </div>

     <div class='mailContainer'
         fxFlex='50%'>
      <app-mail></app-mail>
    </div> 

  </div>

</div>

<ng-template #signInTemplate>
  <sign-in></sign-in>
</ng-template>
