<div class='week-container'>
  <div fxLayout='row' fxLayoutAlign='center none'>

    <div *ngFor='let d of dateArray;index as idx;first as isFirst' class='day-column' fxFlex='14%' fxLayout='column' fxLayoutAlign='start center'>
      <div class='all-day-event-cell' fxFlex='110px'>
        &nbsp;
        <div class='month-date'>{{dateObjArray[idx] | date:"MMM d"}}</div>
        <div class='day'>{{dateObjArray[idx] | date:"EEE"}}</div>
        <div *ngFor='let allDayEvent of (allDayEvents | async)[idx]' fxLayoutAlign='center center'>
          <div class='event-summary' [style.backgroundColor]='allDayEvent.backgroundColor'>
            {{allDayEvent.summary}}
          </div>
        </div>
      </div>

      <div class='timed-event-cell' fxFlex>
        <div *ngFor='let hour of hourArray; index as h' class='hour-cell'>
          <div *ngFor='let timedEvent of (timedEvents | async)[d][h]'fxLayoutAlign='center center'>
            <div class='event-summary' [style.backgroundColor]='timedEvent.backgroundColor'>
                <span>{{timedEvent.startDate | date:'hh:mma' | lowercase}}:</span>
                <span>{{timedEvent.summary}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
