<div class='week-container'>
  <div fxLayout='row' fxLayoutAlign='center none'>

    <div *ngFor='let d of dateArray;index as idx;first as isFirst' class='day-column' fxFlex='14%' fxLayout='column' fxLayoutAlign='start center'>
      <div class='all-day-event-cell' fxFlex='110px'>
        &nbsp;
        <div class='top-date-container' (click)='openAllDayDialog(idx)' fxLayout='column'>
          <div class='month-date'>{{dateObjArray[idx] | date:"MMM d"}}</div>
          <div class='day'>{{dateObjArray[idx] | date:"EEE"}}</div>
        </div>
        <div *ngFor='let allDayEvent of allDayEvents[idx]' fxLayoutAlign='center center'>
          <div class='event-summary' [style.backgroundColor]='allDayEvent.backgroundColor' (click)='openAllDayDialog(idx, allDayEvent)'>
            {{allDayEvent.summary}}
          </div>
        </div>
      </div>

      <div class='timed-event-cell' fxFlex>
        <div *ngFor='let hour of hourArray; index as h' class='hour-cell' (click)='openTimedDialog(idx,h)'>

          <div *ngIf='isFirst && timedEvents[d][h].length == 0' fxLayoutAlign='center center'>
            <div class='times' fxLayout>
              <span fxFlex='30%' class='event-start-time'>{{hour | date:'h:mma' | lowercase}}</span>
              <span fxFlex='70%' class='timed-event-summary'>&nbsp;</span>
            </div>
          </div>

          <div *ngFor='let timedEvent of timedEvents[d][h]' fxLayoutAlign='center center'>
            <div class='event-summary' [style.backgroundColor]='timedEvent.backgroundColor' fxLayout>
              <span fxFlex='30%' class='event-start-time'>{{timedEvent.startDate | date:'h:mma' | lowercase}}</span>
              <span fxFlex='70%' class='timed-event-summary'>{{timedEvent.summary}}</span>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
