$light-text: rgba(245, 245, 245, 1);
$dark-text: rgba(66, 66, 66, 1);
$light-background:rgba(245, 245, 245, 1);
$accent-background: rgba(210, 210, 210, 1);
$dark-background:rgba(117, 117, 117, 0.6);
$transparent-background: rgba(245, 245, 245, 0);
.week-container {
  height: 100%;
  width: 100%;
  background-color: $light-background;
}

.day-column {
  width: 100%;
  height: 100%;
  .all-day-event-cell {
    text-align: center;
    height: 50px;
    width:100%;
    border-bottom: 2px solid $dark-text;
  }
}
.month-date {
  font-size: 12px;
}
.day {
  font-size: 18px;
}
.event-summary {
  height: 20px;
  width: 97%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  line-height: 20px;
  font-weight: 400;
}

.event-summary:hover {
  font-weight: 700;
  cursor:pointer;
}

.timed-event-cell {
  text-align: center;
  height: 100%;
  width: 100%;
}
.hour-cell {
  height: 20px;
  width: 100%;
  border-bottom: 1px dotted $dark-text;
}

.hour-cell:hover{
  background-color: $accent-background;
}

.event-start-time{
  font-size: 10px !important;
  font-weight: 700;
  text-align: center;
}

.timed-event-summary{
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.times{
  height: 20px;
  width: 97%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  line-height: 20px;
  font-weight: 400;
}

span{
  cursor: default;
}

