<md-toolbar color='primary'>
  <!-- Expand buttons on desktop -->
  <div fxShow='false' fxShow.gt-xs fxFlex fxLayoutAlign='start center' class='navigationButtons'>
    <button md-button [routerLink]="['/']">
      <md-icon>home</md-icon>
    </button>
    <button md-button [routerLink]="['/']">
      <md-icon>perm_contact_cal</md-icon>
    </button>
    <button md-button [routerLink]="['/']">
      <md-icon>email</md-icon>
    </button>
    <button md-button [routerLink]="['/']">
      <md-icon>settings</md-icon>
    </button>
  </div>
  <!-- Condense buttons on mobile -->
  <div fxShow='false' fxShow.xs fxFlex fxLayoutAlign='start center' class='navigationButtons'>
    <button md-icon-button [mdMenuTriggerFor]='buttonMenu'>
      <md-icon>menu</md-icon>
    </button>
  </div>
  <md-menu [overlapTrigger]='false' #buttonMenu='mdMenu'>
    <button md-menu-item [routerLink]="['/']">
      <md-icon>home</md-icon>
    </button>
    <button md-menu-item [routerLink]="['/']">
      <md-icon>perm_contact_cal</md-icon>
    </button>
    <button md-menu-item [routerLink]="['/']">
      <md-icon>email</md-icon>
    </button>
    <button md-menu-item [routerLink]="['/']">
      <md-icon>settings</md-icon>
    </button>
  </md-menu>
  <div fxFlex fxLayoutAlign='center center' class='timeContainer'>
    <app-time></app-time>
  </div>
  <div fxFlex fxLayoutAlign='end center' class='userInfo'>
    <span id='displayName' fxHide.xs>{{authService.displayNameStream | async}}</span>
    <button md-icon-button [mdMenuTriggerFor]='signOutMenu'>
      <md-icon>account_circle</md-icon>
    </button>
    <md-menu [overlapTrigger]='false' #signOutMenu='mdMenu'>
      <button md-menu-item color='primary' *ngIf="authService.isSignedInStream | async" (click)='authService.signOut()'>
        <md-icon>exit_to_app</md-icon>
        <span>Sign Out</span>
      </button>
    </md-menu>
  </div>

</md-toolbar>
