$light-text: rgba(245, 245, 245, 1);
$dark-text: rgba(66, 66, 66, 1);
$light-background:rgba(245, 245, 245, 0.9);
$dark-background:rgba(117, 117, 117, 0.6);
$transparent-background: rgba(245, 245, 245, 0);
@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.material-icons.mat-icon {
  @include md-icon-size(32px);
}

.container {
  height: 50px;
  font-family: 'Comfortaa', cursive !important;
  background-color: $light-background;
  color: $dark-text;
  .button-row {
    height: 100%;
    button{
      height: 100%;
    }
  }
  .timeContainer {
    height: 100%;
  }
  .userInfo {
    height: 100%;
    md-button{
      height: 100%;
    }
    #displayName {

    }
  }
  .navigationButtons{
    height: 100%;
  }
}
