$light-text: rgba(245, 245, 245, 1);
$dark-text: rgba(66, 66, 66, 1);
$light-background:rgba(245, 245, 245, 1);
$dark-background:rgba(117, 117, 117, 0.6);
$transparent-background: rgba(245, 245, 245, 0);

.navbar-container {
  height: 50px;
  font-family: 'Comfortaa', cursive !important;
  background-color: $light-background;
  color: $dark-text;
  .button-row {
    height: 100%;
    button {
      height: 100%;
    }
  }
  .timeContainer {
    height: 100%;
  }
  .userInfo {
    height: 100%;
    button {
      height: 100%;
    }
    #displayName {
      text-align: center;
      font-size: 24px;
      height: 50px;
      line-height: 55px;
    }
  }
  .navigationButtons {
    height: 100%;
    button{
      height: 100%;
    }
  }

  .buttonHoverStyle {
    background-color: rgba(158, 158, 158, 0.35);
  }
}
