<div class='navbar-container bar-drop-shadow' fxFlex fxLayout='row' fxLayoutAlign='center center'>
    <!-- Expand buttons on desktop -->
    <div class='button-row' fxFlex='30%' fxLayout fxLayoutAlign='start center' fxHide.xs fxHide.sm>

      <button mdbutton [routerLink]="['/home']" routerLinkActive='buttonHoverStyle'>
        <i fa [name]="'home'" [size]=2 [fw]=true></i>
      </button>

      <button mdbutton [routerLink]="['/calendar']" routerLinkActive='buttonHoverStyle'>
        <i fa [name]="'calendar'" [size]=2 [fw]=true></i>
      </button>

      <button mdbutton [routerLink]="['/mail']" routerLinkActive='buttonHoverStyle'>
        <i fa [name]="'envelope'" [size]=2 [fw]=true></i>
      </button>

    </div>

    <!-- Condense buttons on mobile -->
    <div class='navigationButtons' fxFlex='30%' fxLayout fxLayoutAlign='start center' fxHide.gt-sm>
       <button mdbutton [matMenuTriggerFor]='buttonMenu'>
        <i fa [name]="'bars'" [size]=2 [fw]=true></i>
      </button>
    </div>

    <mat-menu [overlapTrigger]='false' #buttonMenu='matMenu'>
      <button mat-menu-item [routerLink]="['/home']">
        <i fa [name]="'home'" [size]=1 [fw]=true></i>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['/calendar']">
        <i fa [name]="'calendar'" [size]=1 [fw]=true></i>
        <span>Calendar</span>
      </button>
      <button mat-menu-item [routerLink]="['/mail']">
        <i fa [name]="'envelope'" [size]=1 [fw]=true></i>
        <span>Mail</span>
      </button>
    </mat-menu>

    <div class='timeContainer' fxFlex='40%' fxLayout fxLayoutAlign='center center'>
      <app-time></app-time>
    </div>

    <div class='userInfo' fxFlex='30%' fxLayout fxLayoutAlign='end center'>
      <span id='displayName' fxHide.xs fxHide.sm>{{authService.displayName | async}}</span>
      <button mdbutton [matMenuTriggerFor]='signOutMenu'>
        <i fa [name]="'user-circle'" [size]=2></i>
      </button>
      <mat-menu [overlapTrigger]='false' #signOutMenu='matMenu'>
        <button mat-menu-item (click)='signOut()'>
        <i fa [name]="'sign-out'" [size]=1 [fw]=true></i>
        <span>Sign Out</span>
      </button>
      </mat-menu>
    </div>
</div>
