<div class='container' fxFlex fxLayout='row' fxLayoutAlign='center center'>
    <!-- Expand buttons on desktop -->
    <div class='button-row' fxFlex='30%' fxLayout fxLayoutAlign='start center' fxHide.xs fxHide.sm>

      <button md-button [routerLink]="['/']">
        <i fa [name]="'home'" [size]=2 [fw]=true></i>
      </button>

      <button md-button [routerLink]="['/calendar']">
        <i fa [name]="'calendar'" [size]=2 [fw]=true></i>
      </button>

      <button md-button [routerLink]="['/']">
        <i fa [name]="'envelope'" [size]=2 [fw]=true></i>
      </button>

      <button md-button [routerLink]="['/']">
        <i fa [name]="'cog'" [size]=2 [fw]=true></i>
      </button>

    </div>

    <!-- Condense buttons on mobile -->
    <div class='navigationButtons' fxFlex='30%' fxLayout fxLayoutAlign='start center' fxHide.gt-sm>
       <button md-button [mdMenuTriggerFor]='buttonMenu'>
        <i fa [name]="'bars'" [size]=2 [fw]=true></i>
      </button>
    </div>

    <md-menu [overlapTrigger]='false' #buttonMenu='mdMenu'>
      <button md-menu-item [routerLink]="['/']">
        <i fa [name]="'home'" [size]=1 [fw]=true></i>
        <span>Home</span>
      </button>
      <button md-menu-item [routerLink]="['/calendar']">
        <i fa [name]="'calendar'" [size]=1 [fw]=true></i>
        <span>Calendar</span>
      </button>
      <button md-menu-item [routerLink]="['/']">
        <i fa [name]="'envelope'" [size]=1 [fw]=true></i>
        <span>Mail</span>
      </button>
      <button md-menu-item [routerLink]="['/']">
        <i fa [name]="'cog'" [size]=1 [fw]=true></i>
        <span>Settings</span>
      </button>
    </md-menu>

    <div class='timeContainer' fxFlex='40%' fxLayout fxLayoutAlign='center center'>
      <app-time></app-time>
    </div>

    <div class='userInfo' fxFlex='30%' fxLayout fxLayoutAlign='end center'>
      <span id='displayName' fxHide.xs>{{authService.displayNameStream | async}}</span>
      <button md-button [mdMenuTriggerFor]='signOutMenu'>
        <i fa [name]="'user-circle'" [size]=2></i>
      </button>
      <md-menu [overlapTrigger]='false' #signOutMenu='mdMenu'>
        <button md-menu-item (click)='authService.signOut()'>
        <i fa [name]="'sign-out'" [size]=1 [fw]=true></i>
        <span>Sign Out</span>
      </button>
      </md-menu>
    </div>
</div>
