.container {
  padding: 10px;
  md-card {
    // background-color: rgba(0, 0, 0, 0);
    #weather {
      #icon{
        padding: 10px;
        font-size: 96px;
        font-weight: bold;
      }
      #temp {
        padding: 0px;
        margin: 0px;
        font-size: 96px;
        font-weight: bold;
      }
      #units {
        padding: 0px;
        margin: 0px;
        font-size: 96px;
        font-weight: bold;
      }
    }
    #location {
      padding: 0px;
      margin: 0px; // background-color: rgba(20, 100, 255, 1.0)
      text-align: right;
    }
  }
}
