.container {
  padding: 10px;
  md-card {
    #weather {
      font-size: 48px;
      background-color: rgba(255, 70, 255, 1.0);
    }
    #location {
      background-color: rgba(20, 100, 255, 1.0)
    }
  }
}
