$light-text: rgba(245, 245, 245, 1);
$dark-text: rgba(66, 66, 66, 1);
$light-background:rgba(245, 245, 245, 0.9);
$dark-background:rgba(117, 117, 117, 0.6);
$transparent-background: rgba(245, 245, 245, 0);

.container {
  font-family: 'Comfortaa', cursive !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
  .iconContainer {
    align-self: flex-start;
    #weatherIcon {
      color: $light-background;
      font-size: 96px;
      padding-bottom: 10px;
      padding-right: 15px;
    }
  }
  .infoContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    .tempContainer {
      display: inline-flex;
      flex-direction: row;
      .weatherTemp {
        color: $light-background;
        align-self: flex-start;
        font-family: 'Comfortaa', cursive !important;
        font-size: 80px; 
        line-height: 80px;
        margin-bottom: -10px;
      }
      .wi {
        color: $light-background;
        align-self: flex-end;
        font-size: 96px;
        line-height: 60px;
        margin-bottom:-10px;
      }
    }
    .locationContainer {
      color: $light-background;
      align-self: flex-start;
      padding-bottom: 2px;
    }
  }
}
