<div *ngIf="!(weatherService.isLoadingSubject | async);else loadingTemplate">
  <div class='container'>

    <div class='iconContainer'>
      <i id='weatherIcon' [class]="(weatherService.weatherStream | async)?.icon"></i>
    </div>

    <div class='infoContainer'>

      <div class='tempContainer'>
        <span class='weatherTemp'>{{(weatherService.weatherStream | async)?.temp}}</span>
        <i class='wi wi-fahrenheit'></i>
      </div>

      <div class='locationContainer'>
        <span>
            {{(weatherService.weatherStream | async)?.city}}, {{(weatherService.weatherStream | async)?.region}}
          </span>
      </div>

    </div>

  </div>
</div>

<ng-template #loadingTemplate>
  <div *ngIf="(weatherService.isLoadingSubject | async)">
    <md-spinner></md-spinner>
  </div>
</ng-template>
