<div class='container' fxLayoutAlign='center center'>
  <md-card class='.mat-elevation-z0'>
    <div id='weather' fxLayoutAlign='center end'>
      <i id='icon' [class]="(weatherService.weatherStream | async)?.icon"></i>
      <h3 id='temp'>{{(weatherService.weatherStream | async)?.temp}}</h3>
      <i id='units' class='wi wi-fahrenheit'></i>
    </div>
    <h3 id='location' fxLayoutAlign='center center'>
      {{(weatherService.weatherStream | async)?.city}}, {{(weatherService.weatherStream | async)?.region}}
    </h3>
  </md-card>
</div>
