<div *ngIf="!(loading | async);else loadingTemplate">
  <div class='container'>

    <div class='iconContainer'>
      <i id='weatherIcon' [class]="(icon | async)"></i>
    </div>

    <div class='infoContainer'>

      <div class='tempContainer'>
        <span class='weatherTemp'>{{(temp | async)}}</span>
        <i class='wi wi-fahrenheit'></i>
      </div>

      <div class='locationContainer'>
        <span>
            {{(city | async)}}, {{(region | async)}}
          </span>
      </div>

    </div>

  </div>
</div>

<ng-template #loadingTemplate>
  <div fxLayoutAlign='center center'>
    <md-spinner></md-spinner>
  </div>
</ng-template>
