$light-text: rgba(245, 245, 245, 1);
$dark-text: rgba(66, 66, 66, 1);
$light-background:rgba(245, 245, 245, 1);
$dark-background:rgba(117, 117, 117, 0.6);
$transparent-background: rgba(245, 245, 245, 0);

.dialog-container{
  width: 100%;
  height: 100%;
}

.top-bar{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 65px;
  .subject-from-container{
    width: calc(100% - 185px);
  }
}

.message-subject{
  font-size: 24px;
  font-weight: 700;
  width: 97%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.message-from{
  font-size: 16px;
  width: 97%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

button {
  color: $dark-text;
}

.iframe-container{
  height:100%;
  padding: 20px;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.content-container{
  height: calc(100% - 65px);
}

.sidenav-container{
  width: 200px;
  height: 100%;
  box-shadow: 5px 0px 5px -2px rgba(0,0,0,.26);
  padding: 10px;
  color: $dark-text;
}

.message-select-header{
  padding-bottom: 5px;
  font-size: 18px;
  font-family: 'Comfortaa', cursive !important;
  font-weight: 400;
}

.thread-radio-button{
  font-size: 12px;
  font-family: 'Comfortaa', cursive !important;
  font-weight: 400;
}

md-radio-group{
  width: 100%;
}
md-radio-button{
  width: 90%;
}


