<div class='dialog-container'>
  <div class='top-bar bar-drop-shadow' fxLayout='row'>
    <div class='subject-from-container' fxLayout='column' fxLayoutAlign='center start'>
      <div class='message-subject'>{{baseMessage.headers['subject'] | decodeHTML | subject}}</div>
      <div class='message-from'>{{baseMessage.headers['from']}}</div>
    </div>
    <div fxFlex></div>
    <div fxLayout='row'>
      <button md-button (click)='replyCloseDialog()'>
        <i fa [name]="'reply'" [size]=2 [fw]=true></i>
      </button>
      <button md-button (click)='closeDialog()'>
        <i fa [name]="'times'" [size]=2 [fw]=true></i>
      </button>
    </div>
  </div>

  <div class='content-container' fxLayout fxLayoutAlign='center start'>

    <div fxHide.xs class='sidenav-container' fxFlex='200px' fxLayout='column' fxLayoutAlign='start start'>
      <div class='message-select-header'>
        Messages:
      </div>
      <md-radio-group (change)='setIframeContent($event.value)'>
        <md-radio-button *ngFor='let message of messages | async;first as isFirst' class='thread-radio-button' color='warn' [value]='message'
          [checked]='isFirst'>
          {{message.headers['subject']}}
        </md-radio-button>
      </md-radio-group>
    </div>

    <div fxFlex class='iframe-container'>
      <iframe seamless sandbox="allow-same-origin allow-popups allow-top-navigation" id='mail-iframe'>&nbsp;</iframe>
    </div>

  </div>
</div>
