  h1 {
  text-align: center;
  font-family: 'Comfortaa', cursive !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 97%;
  overflow-x: hidden;
}

iframe {
  max-width: 80vw;
  max-height: 80vh;
  height: 600px;
  border: 0;
  display: flex;
}

md-dialog-content{}
