<md-toolbar>
    <button md-raised-button [routerLink]="['/']">
        <md-icon>home</md-icon>
    </button>
    <button md-raised-button [routerLink]="['/']">
        <md-icon>perm_contact_cal</md-icon>
    </button>
    <button md-raised-button [routerLink]="['/']">
        <md-icon>email</md-icon>
    </button>
    <button md-raised-button [routerLink]="['/']">
        <md-icon>settings</md-icon>
    </button>
    <button md-raised-button *ngIf="gapiService.isSignedIn()" (click)='gapiService.signOut()'>
        Sign Out
    </button>
    <span fxFlex></span>
    <h1>
        {{this.fireService.displayNameStream | async}}
    </h1>
</md-toolbar>

<router-outlet></router-outlet>