$light-text: rgba(245, 245, 245, 1);
$dark-text: rgba(66, 66, 66, 1);
$light-background:rgba(245, 245, 245, 0.9);
$dark-background:rgba(117, 117, 117, 0.6);
$transparent-background: rgba(245, 245, 245, 0);
.cal-tab-container {
  height: calc(100% - 40px);
  padding: 20px;
}
.mobileContainer{
  height: calc(100% - 40px);
  padding: 20px;
  background-color: $dark-background;
  overflow-y: scroll;
}
