<!-- Time -->
<nav class="navbar navbar-inverse" style='background-color:rgba(255, 255, 255, 0); border-color: rgba(255,255,255,0); box-shadow: none;'>
  <div class="container">
    <h1>
      {{time}}
    </h1>
  </div>
</nav>

<div class='container-fluid'>
  <!-- Weather -->
  <div class='row' id='weather'>
      <i class="fa fa-sun-o fa-lg"></i>
  </div>
  <!-- Calendar -->
  <div class='row'>
    <div class='col-md-6' id='calendar'>
      <div class='panel panel-default'>
        <table class='table table-bordered'>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
          <tr>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
          </tr>
        </table>
      </div>
    </div>
    <div class='col-md-6' id='email'>
      <div class='panel panel-default'>
        <table class='table table-bordered'>
          <tr>
            <th colspan=5 style='text-align: center;'>Email</th>
          </tr>
          <tr>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
